*{
 	font-family: Verdana;

}
.block_input, .block_output { 
	width: 400px;
    height: 270px; 
    background: white;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px black; 
    float: left;
   }

.area{
	width: 380px;
	margin: 10px;
	border: solid 1px grey; 
	font-size: 20px;
	text-align: right;
}
.button, .button_spec, .additional_button {
    width: 85px; 
    height: 30px;
    background-color: #c0c0c0; 
    border: none;
    border-radius: 6px;
    text-align: center;
    margin: 3px 3px;
    cursor: pointer;
}
.button_spec {
	background-color: grey;
} 
.additional_button {
	visibility: hidden;
}